// Nav

.form__input {
  padding: 4px;
}

.nav-box {
  border: 1px solid $color-grey-light-3;
}

.logo:visited,
:link {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
}

.bookmarks {
  cursor: pointer;
}

// RESULTS

.preview {
  height: 20%;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  border-bottom: 1px solid $color-grey-light-3;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &:first-child {
    margin-top: 2rem;
  }
  &__marker {
    @include gridCentering;
  }

  &__info {
    // @include gridCentering;
    align-self: center;

    &--name {
    }

    &--address {
      font-size: 1rem;
    }
  }

  &:hover {
    background-color: $color-grey-light-3;
    transform: translateY(-1px);
  }

  &__bookmark--icon {
    height: 3rem;
    width: 3rem;
    @include gridCentering;
    transition: all 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

// Button

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid $color-grey-light-3;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-2px);
    @include boxShadow;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

// Bookmarks

.bookmarks {
  padding: 1rem 5rem;
  position: relative;
  align-items: stretch;
  @include boxShadow;
  border-radius: 3px;

  &__list {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    font-size: 1.6rem;
    background-color: $color-grey-light-2;
    position: absolute;
    top: 6.3rem;
    right: 0;
    list-style: none;
    transition: all 0.3s;
    z-index: 2;
    &--name {
      padding: 1rem 2rem;

      width: 100%;
      &:hover {
        background-color: $color-grey-light-3;
      }
    }
  }

  &:hover &__list {
    visibility: visible;
    opacity: 1;
  }

  &__preview {
    padding: 1rem 2rem;
    transition: all 0.2s ease;
    &--name {
    }
    &--address {
      font-size: 1rem;
    }

    &:hover {
      background-color: $color-grey-light-3;
      transform: translateY(-1px);
    }
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  z-index: 99;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    height: 6rem;
    width: 6rem;
    animation: rotate 0.5s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.markerbg {
  // float: left;
  // position: absolute;
  width: 36px;
  height: 37px;
  // margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
.marker_1 {
  background-position: 0 -10px;
}
.marker_2 {
  background-position: 0 -56px;
}
.marker_3 {
  background-position: 0 -102px;
}
.marker_4 {
  background-position: 0 -148px;
}
.marker_5 {
  background-position: 0 -194px;
}
.marker_6 {
  background-position: 0 -240px;
}
.marker_7 {
  background-position: 0 -286px;
}
.marker_8 {
  background-position: 0 -332px;
}
.marker_9 {
  background-position: 0 -378px;
}
.marker_10 {
  background-position: 0 -423px;
}
.marker_11 {
  background-position: 0 -470px;
}
.marker_12 {
  background-position: 0 -516px;
}
.marker_13 {
  background-position: 0 -562px;
}
.marker_14 {
  background-position: 0 -608px;
}
.marker_15 {
  background-position: 0 -654px;
}
