// Nav

.form__input {
  padding: 4px;
}

.nav-box {
  border: 1px solid $color-grey-light-3;
}

.logo:visited,
:link {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
}

.bookmarks {
  cursor: pointer;
}

// RESULTS

.preview {
  height: 20%;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 25% 75%;
  border-bottom: 1px solid $color-grey-light-3;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &:first-child {
    margin-top: 2rem;
  }
  &__marker {
    @include gridCentering;
  }

  &__info {
    @include gridCentering;

    &--name {
    }
  }

  &:hover {
    background-color: $color-grey-light-3;
    transform: translateY(-1px);
  }
}

// Button

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid $color-grey-light-3;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-2px);
    @include boxShadow;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

// Bookmarks

.bookmarks {
  padding: 1rem 5rem;
  position: relative;
  align-items: stretch;
  @include boxShadow;
  border-radius: 3px;

  &__list {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    font-size: 1.6rem;
    background-color: $color-grey-light-2;
    position: absolute;
    top: 6.3rem;
    right: 0;
    list-style: none;
    transition: all 0.3s;
    z-index: 2;
    &--name {
      padding: 1rem 2rem;

      width: 100%;
      &:hover {
        background-color: $color-grey-light-3;
      }
    }
  }

  &:hover &__list {
    visibility: visible;
    opacity: 1;
  }

  &__preview {
    padding: 1rem 2rem;
    transition: all 0.2s ease;
    &--name {
    }
    &--address {
      font-size: 1rem;
    }

    &:hover {
      background-color: $color-grey-light-3;
      transform: translateY(-1px);
    }
  }
}
